* {box-sizing: border-box}

.container {
  width: 50%;
  background-color: #615d5d;
  position: left;
}

.skills {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.html {width: 80%; background-color: white;}
.css {width: 60%; background-color: white;}
.js {width: 60%; background-color: white;}
.php {width: 50%; background-color: white;}
.java{width: 50%;background-color: white;}
.c{width: 70%;background-color: white;}

body {
  background-color: lightblue;
font-family: monospace;
	position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
        } */
        

        /*
  
        } */
        .myDiv {
    position: relative;
    z-index: 1;
}

.myDiv {
	background-image: url('file:///C:/Users/hp/Downloads/parrot-1590233200987-7113.jpg');
	filter: blur(8px);
	height:100%;
   
}
.skills
{
	color:white;
	size: 25px;
}
html
{
	scroll-behavior: smooth;
}
.edu
{
	font-size:40px;
}
.edu-desc
{
	color:white;
	font-size: 25px
	font-family: 'Dancing Script', cursive;
}
.saccounts
{
	color:white;
	font-size: 18px;
}
.project
{
	color:white;
}
body
{
	background-size: contain;
	position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hi
{
	font-size: 90px;
	color: white;
	font-family: 'Dancing Script', cursive;
	
}
        
.name
{

}
.intro
{
	color: white;
		font-size: 30px;
	font-family: 'Dancing Script', cursive;
	}
.tdinfo
{
	
}
.subintro
{
	color:white;
	font-size: 24px;
	font-family: 'Dancing Script', cursive;
}
.bio
{
	color:white;
	text-shadow: inherit;
	font-size: 24px;
	font-family: 'Dancing Script', cursive;
}
img
{
	border-radius: 100%;			
}

h1 {
  color: navy;
  margin-left: 20px;
}
table
{
border-spacing: 30px;
}
}
